spring:
  application:
    name: api-gateway
server:
  port: 9090

  cloud:
    gateway:
      routes:
        - id: accounts-domain
          uri: ${accounts.command.uri}
          predicates:
            - Path=/accounts/**

jwt:
  key: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDatDQ+zxw4qZfAOUroVWApUfLFUaGPP4eIEO20LyotqDIr0OBkVs1GGG8X3GgD4g+woQWRpm8nDE/qsLmmhhLHi/BgwyYuNGPEPdgcDBpyaLPtM6Cr933zjVC/M4nDiNqcq8EXMvF+y7b3AJmUG/Se9O9gLW4eVhhNqp4QbEd1uwIDAQAB

accounts:
  command:
    uri: http://localhost:8888/
#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://docker.for.mac.localhost:8888/eureka
#  instance:
#    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: heapdump, loggers, prometheus, threaddump, info, metrics, health, hystrix.stream
  health:
    defaults:
      enabled: false
  endpoint:
    health:
      show-details: always
hystrix.command.fallbackcmd.execution.isolation.thread.timeoutInMilliseconds: 2000

---
spring:
  profiles:
    gke
  application:
    name: api-gateway
server:
  port: 9090

accounts:
  command:
    uri: http://accounts.dev.svc.cluster.local:8080/

jwt:
  key: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDatDQ+zxw4qZfAOUroVWApUfLFUaGPP4eIEO20LyotqDIr0OBkVs1GGG8X3GgD4g+woQWRpm8nDE/qsLmmhhLHi/BgwyYuNGPEPdgcDBpyaLPtM6Cr933zjVC/M4nDiNqcq8EXMvF+y7b3AJmUG/Se9O9gLW4eVhhNqp4QbEd1uwIDAQAB

hystrix.command.fallbackcmd.execution.isolation.thread.timeoutInMilliseconds: 2000
