apiVersion: v1
kind: Service
metadata:
  generateName: discovery
  labels:
    app: discovery
  name: discovery
spec:
  ports:
    - port: 8888
      protocol: TCP
      targetPort: 8888
  selector:
    app: discovery
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery
  labels:
    app: discovery
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: discovery
  template:
    metadata:
      labels:
        app: discovery
    spec:
      containers:
        - name: discovery
          image: iyerajesh/discovery:latest
          resources:
            requests:
              memory: "500M"
              cpu: "100m"
            limits:
              memory: "600M"
              cpu: "250m"
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "gke"
            - name: SERVER_SERVLET_CONTEXT-PATH
              value: "/discovery"
            - name: LOGGING_LEVEL_ROOT
              value: "INFO"
          ports:
            - containerPort: 8888
          imagePullPolicy: IfNotPresent
