apiVersion: v1
kind: Service
metadata:
  labels:
    app: api-gateway
  name: api-gateway
  namespace: default
spec:
  externalTrafficPolicy: Cluster
  ports:
    - nodePort: 30620
      port: 80
      protocol: TCP
      targetPort: 9090
  selector:
    app: api-gateway
  sessionAffinity: None
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: gcr.io/xylia-platform/api-gateway:2.0.1
          resources:
            requests:
              memory: "500M"
              cpu: "100m"
            limits:
              memory: "600M"
              cpu: "250m"
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "gke"
            - name: SERVER_SERVLET_CONTEXT-PATH
              value: "/api-gateway"
            - name: LOGGING_LEVEL_ROOT
              value: "INFO"
          ports:
            - containerPort: 9090
          imagePullPolicy: IfNotPresent
