apiVersion: v1
kind: Service
metadata:
  labels:
    app: orders
  name: orders
  namespace: default
spec:
  externalTrafficPolicy: Cluster
  ports:
    - nodePort: 32623
      port: 80
      protocol: TCP
      targetPort: 8085
  selector:
    app: orders
  sessionAffinity: None
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  labels:
    app: orders
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: gcr.io/xylia-platform/orders-domain:2.0.3
        resources:
          requests:
            memory: "800M"
            cpu: "100m"
          limits:
            memory: "900M"
            cpu: "250m"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "gke"
        - name: LOGGING_LEVEL_ROOT
          value: "INFO"
        - name: SPRING_DATA_MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: mongodb-atlas
              key: mongodb.uri.accounts
        - name: SPRING_KAFKA_BOOTSTRAP-SERVERS
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: bootstrap.servers
        - name: SPRING_KAFKA_PROPERTIES_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: ssl.endpoint.identification.algorithm
        - name: SPRING_KAFKA_PROPERTIES_SASL_MECHANISM
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: sasl.mechanism
        - name: SPRING_KAFKA_PROPERTIES_REQUEST_TIMEOUT_MS
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: request.timeout.ms
        - name: SPRING_KAFKA_PROPERTIES_RETRY_BACKOFF_MS
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: retry.backoff.ms
        - name: SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG
          valueFrom:
            secretKeyRef:
              name: confluent-cloud-kafka
              key: sasl.jaas.config
        - name: SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL
          valueFrom:
            configMapKeyRef:
              name: confluent-cloud-kafka
              key: security.protocol
        ports:
        - containerPort: 8085
        imagePullPolicy: IfNotPresent
